@import './layout.scss';
@import './variable.scss';

html, body {
  width: 100%;
  height: 100%;
  background-color: rgba(228, 231, 237, 1);
}
* {
  margin: 0px;
  padding: 0px;
}

.center-self {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-center {
  text-align: center;
}
