@import './variable.scss';
#root {
  font-family: Helvetica, Arial, 'Ping Fang SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303133;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 231, 237, 1);
  display: flex;
  justify-content: flex-start;
  overflow:hidden;
}
#app {
  width:100%;
  height:100%;
  display:grid;
  position: relative;
  // align-items:start;
  // grid-template-columns: 100%;
}
.app-header-nav{
  background-color: #fff;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1030!important;
}
.app-layout{
  width: 100%;
  height: 100%;
}
.app-sidebar {
  width: 80px;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1020!important;
  background-color: $siderBarColor;
}
.app-right {
  width: calc(100% - 208px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.app-content {
  position: absolute;
  left: 80px;
  top: 50px;
  padding: 20px 20px 0px 20px;
  width: calc(100% - 80px);
  height: calc(100% - 70px)
}
.login{
  background: url(../assets/img/login.png) no-repeat center center;
  width: 100% !important;
  height: 100% !important;
}
.display-none{
  display: none;
}
